.version.advanced {
  color: #00000C;
  background-color: #BA02E8;
}

#page {
  background-image: none;
  margin-right: auto;
  background-color: transparent;
  z-index: 1;
  border-color: #000000;
  border-width: 0px;
  margin-left: auto;
}

#u1479 {
  position: relative;
  z-index: 42;
  background-color: transparent;
}

#u1480 {
  display: block;
  z-index: 43;
}

#u1478-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 35px;
  font-size: 30px;
  line-height: 36px;
  background-color: transparent;
  z-index: 38;
}

#u1478-2 {
  padding-top: 8px;
}

#u1481-4 {
  color: #000000;
  width: 281px;
  min-height: 17px;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;
  z-index: 44;
}

#pu1469-4 {
  width: 0.01px;
  z-index: 2;
}

#u1469-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 2;
  border-color: #000000;
}

#u1470-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 6;
  border-color: #000000;
}

#u1482-4 {
  z-index: 48;
  color: #000000;
  width: 281px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;
}

#pu1471-4 {
  width: 0.01px;
  z-index: 10;
}

#u1471-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 10;
  border-color: #000000;
}

#u1472-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 14;
  border-color: #000000;
}

#u1483-4 {
  color: #000000;
  width: 281px;
  min-height: 17px;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;
  z-index: 52;
}

#pu1473-4 {
  width: 0.01px;
  z-index: 18;
}

#u1473-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 18;
  border-color: #000000;
}

#u1474-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 22;
  border-color: #000000;
}

#u1484-4 {
  color: #000000;
  width: 281px;
  min-height: 17px;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;
  z-index: 56;
}

#pu1475-4 {
  z-index: 26;
  width: 0.01px;
  margin-left: 2px;
}

#u1475-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 26;
  border-color: #000000;
}

#u1476-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 30;
  border-color: #000000;
}

#u1477-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  line-height: 29px;
  background-color: #29ABE2;
  z-index: 34;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
  width: 281px;
  border-width: 2px;
}

#u1469-2,
#u1470-2,
#u1471-2,
#u1472-2,
#u1473-2,
#u1474-2,
#u1475-2,
#u1476-2,
#u1477-2 {
  padding-top: 14px;
}

.html {
  background-color: #FACA30;
}

body {
  position: relative;
}

@media (min-width: 100px),
print {
  #muse_css_mq {
    background-color: #FFFFFF;
  }
  #bp_infinity.active {
    display: block;
  }
  #page {
    width: 285px;
    min-height: 638px;
    padding: 5px 30px 18px 5px;
  }
  #u1479 {
    width: 75px;
    margin-left: 104px;
  }
  #u1478-4 {
    width: 281px;
    margin-left: 2px;
    margin-top: 21px;
  }
  #u1481-4 {
    margin-left: 2px;
    margin-top: 29px;
  }
  #pu1469-4 {
    margin-left: 2px;
    margin-top: 8px;
  }
  #u1482-4,
  #pu1471-4,
  #u1483-4,
  #pu1473-4,
  #u1484-4 {
    margin-left: 2px;
    margin-top: 11px;
  }
  #pu1475-4 {
    margin-top: 11px;
  }
  #u1469-4,
  #u1471-4,
  #u1473-4,
  #u1475-4 {
    width: 141px;
  }
  #u1470-4,
  #u1472-4,
  #u1474-4,
  #u1476-4 {
    width: 141px;
    left: 141px;
  }
  #u1477-4 {
    left: -1px;
    margin-top: 38px;
  }
  .css_verticalspacer .verticalspacer {
    height: calc(100vh - 683px);
  }
}
