.version.global_settings {
  color: #0000E4;
  background-color: #784852;
}

.js body {
  visibility: hidden;
}

.js body.initialized {
  visibility: visible;
}

#page {
  background-image: none;
  border-color: #000000;
  z-index: 1;
  margin-right: auto;
  border-width: 0px;
  background-color: transparent;
  margin-left: auto;
}

#u1781-4 {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  min-height: 62px;
  font-size: 24px;
  line-height: 29px;
  background-color: #FF0000;
  z-index: 5;
}

#u1781-4-bw {
  min-height: 62px;
  z-index: 5;
}

#u3157-4 {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  min-height: 62px;
  font-size: 24px;
  line-height: 29px;
  background-color: #FF0000;
  z-index: 9;
}

#u3157-4-bw {
  min-height: 62px;
  z-index: 9;
}

#u2198 {
  z-index: 125;
  position: relative;
  width: 38px;
  background-color: transparent;
}

#u2199 {
  display: block;
  z-index: 126;
}

#u2144 {
  z-index: 17;
  position: relative;
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
}

#u1795-4 {
  color: #FFFFFF;
  font-size: 12px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  width: 281px;
  line-height: 14px;
  background-color: transparent;
  z-index: 26;
}

#pu1787-4 {
  width: 0.01px;
  z-index: 18;
}

#u1787-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 18;
  border-color: #000000;
}

#u1788-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 22;
  border-color: #000000;
}

#u2150 {
  z-index: 44;
  position: relative;
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
}

#u1796-4 {
  color: #FFFFFF;
  font-size: 12px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  width: 281px;
  line-height: 14px;
  background-color: transparent;
  z-index: 53;
}

#pu1789-4 {
  width: 0.01px;
  z-index: 45;
}

#u1789-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 45;
  border-color: #000000;
}

#u1790-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 49;
  border-color: #000000;
}

#u3133 {
  border-style: solid;
  border-color: #FACA30;
  background-color: #3F3F3F;
  z-index: 3;
  border-width: 4px 0px;
}

#u2156 {
  position: relative;
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
  z-index: 71;
}

#u1797-4 {
  color: #FFFFFF;
  font-size: 12px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  width: 281px;
  line-height: 14px;
  background-color: transparent;
  z-index: 80;
}

#pu1791-4 {
  width: 0.01px;
  z-index: 72;
}

#u1791-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 72;
  border-color: #000000;
}

#u1792-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 76;
  border-color: #000000;
}

#u2162 {
  padding-bottom: 0px;
  position: relative;
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
  z-index: 84;
}

#u1798-4 {
  color: #FFFFFF;
  font-size: 12px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  width: 281px;
  line-height: 14px;
  background-color: transparent;
  z-index: 93;
}

#pu1793-4 {
  width: 0.01px;
  z-index: 85;
}

#u1793-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 85;
  border-color: #000000;
}

#u1794-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 89;
  border-color: #000000;
}

#u3133-bw {
  z-index: 3;
}

#u2288-4 {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  background-color: #FF0000;
  z-index: 13;
}

#u2288-4-bw {
  z-index: 13;
}

#u3115 {
  border-color: #FACA30;
  background-color: #3F3F3F;
  z-index: 2;
}

#u2168 {
  position: relative;
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
  z-index: 30;
}

#u2021-4 {
  color: #FFFFFF;
  font-size: 12px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  width: 281px;
  line-height: 14px;
  background-color: transparent;
  z-index: 40;
}

#u2126 {
  border-color: transparent;
  position: relative;
  width: 281px;
  border-width: 0px;
  background-color: transparent;
  z-index: 31;
}

#u2009-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 32;
  border-color: #000000;
}

#u2030-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 36;
  border-color: #000000;
}

#u2174 {
  position: relative;
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
  z-index: 57;
}

#u2039-4 {
  color: #FFFFFF;
  font-size: 12px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  width: 281px;
  line-height: 14px;
  background-color: transparent;
  z-index: 67;
}

#u2120 {
  border-color: transparent;
  position: relative;
  width: 281px;
  border-width: 0px;
  background-color: transparent;
  z-index: 58;
}

#u2048-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 59;
  border-color: #000000;
}

#u2057-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 63;
  border-color: #000000;
}

#u3115-bw {
  z-index: 2;
}

#u2186 {
  z-index: 97;
  position: relative;
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
}

#u2066-4 {
  color: #FFFFFF;
  font-size: 12px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  width: 281px;
  line-height: 14px;
  background-color: transparent;
  z-index: 107;
}

#u2132 {
  border-color: transparent;
  position: relative;
  width: 281px;
  border-width: 0px;
  background-color: transparent;
  z-index: 98;
}

#u2075-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 99;
  border-color: #000000;
}

#u2084-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 103;
  border-color: #000000;
}

#u2192 {
  z-index: 111;
  padding-bottom: 0px;
  position: relative;
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
}

#u2093-4 {
  color: #FFFFFF;
  font-size: 12px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  width: 281px;
  line-height: 14px;
  background-color: transparent;
  z-index: 121;
}

#u2138 {
  border-color: transparent;
  position: relative;
  width: 281px;
  border-width: 0px;
  background-color: transparent;
  z-index: 112;
}

#u2102-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 113;
  border-color: #000000;
}

#u2111-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 117;
  border-color: #000000;
}

#u2666 {
  background-color: #FACA30;
  z-index: 4;
}

#u3133_align_to_page,
#u3115_align_to_page,
#u2666_align_to_page {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

#u2348 {
  padding-bottom: 0px;
  position: relative;
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
  z-index: 127;
}

#u2349-5 {
  color: #000000;
  font-size: 12px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  width: 281px;
  line-height: 14px;
  background-color: transparent;
  z-index: 137;
}

#u2350 {
  border-color: transparent;
  position: relative;
  width: 281px;
  border-width: 0px;
  background-color: transparent;
  z-index: 128;
}

#u2352-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 129;
  border-color: #000000;
}

#u2351-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 133;
  border-color: #000000;
}

#u2492-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  line-height: 29px;
  background-color: #29ABE2;
  z-index: 171;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
  width: 281px;
  border-width: 2px;
}

#u2444 {
  padding-bottom: 0px;
  position: relative;
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
  z-index: 142;
}

#u2448-5 {
  color: #000000;
  font-size: 12px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  width: 281px;
  line-height: 14px;
  background-color: transparent;
  z-index: 152;
}

#u2349-2,
#u2448-2 {
  color: #FF0000;
}

#u2445 {
  border-color: transparent;
  position: relative;
  width: 281px;
  border-width: 0px;
  background-color: transparent;
  z-index: 143;
}

#u2446-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 144;
  border-color: #000000;
}

#u2447-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 148;
  border-color: #000000;
}

#u2516-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  line-height: 29px;
  background-color: #29ABE2;
  z-index: 175;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
  width: 281px;
  border-width: 2px;
}

#u2540-7 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 19px;
  background-color: #FF0000;
  z-index: 183;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
  width: 281px;
  border-width: 5px;
}

#u2540,
#u2540-3,
#u2540-5 {
  padding-top: 12px;
}

#u2609 {
  padding-bottom: 0px;
  position: relative;
  border-color: transparent;
  border-width: 0px;
  background-color: transparent;
  z-index: 157;
}

#u2613-4 {
  color: #FF0000;
  font-size: 12px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  width: 281px;
  line-height: 14px;
  background-color: transparent;
  z-index: 167;
}

#u2610 {
  border-color: transparent;
  position: relative;
  width: 281px;
  border-width: 0px;
  background-color: transparent;
  z-index: 158;
}

#u2612-4 {
  color: #FF0000;
  border-color: #000000;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  margin-right: -10000px;
  background-color: #000000;
  z-index: 159;
}

#u2612-2 {
  padding-top: 18px;
}

#u2611-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 163;
  border-color: #000000;
}

#u2657-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  background-color: #29ABE2;
  z-index: 179;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
  width: 281px;
  border-width: 2px;
}

#u2684-4 {
  color: #FACA30;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  line-height: 29px;
  background-color: #000000;
  z-index: 190;
  border-style: solid;
  border-color: #FACA30;
  border-radius: 10px;
  width: 281px;
  border-width: 2px;
}

#u2708-4 {
  color: #FACA30;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  line-height: 29px;
  background-color: #000000;
  z-index: 194;
  border-style: solid;
  border-color: #FACA30;
  border-radius: 10px;
  width: 281px;
  border-width: 2px;
}

#u2764 {
  border-color: transparent;
  position: relative;
  border-width: 0px;
  background-color: transparent;
  z-index: 198;
}

#u2732-4 {
  color: #FF0000;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 199;
  border-style: solid;
  border-color: #FF0000;
  border-radius: 10px;
  border-width: 4px;
}

#u1781-2,
#u3157-2,
#u1787-2,
#u1788-2,
#u1789-2,
#u1790-2,
#u1791-2,
#u1792-2,
#u1793-2,
#u1794-2,
#u2288-2,
#u2009-2,
#u2030-2,
#u2048-2,
#u2057-2,
#u2075-2,
#u2084-2,
#u2102-2,
#u2111-2,
#u2352-2,
#u2351-2,
#u2492-2,
#u2446-2,
#u2447-2,
#u2516-2,
#u2611-2,
#u2657-2,
#u2684-2,
#u2708-2,
#u2732-2 {
  padding-top: 14px;
}

#u2748 {
  position: relative;
  margin-right: -10000px;
  background-color: transparent;
  z-index: 203;
}

#u2744 {
  display: block;
  z-index: 204;
}

#u2666-bw {
  z-index: 4;
}

.html {
  background-color: #7F7F7F;
}

body {
  position: relative;
}

@media (min-width: 100px),
print {
  #muse_css_mq {
    background-color: #FFFFFF;
  }
  #bp_infinity.active {
    display: block;
  }
  #page {
    width: 960px;
    min-height: 2424px;
  }
  #page_position_content {
    padding-bottom: 37px;
    width: 0.01px;
  }
  #u2198 {
    margin-left: 461px;
    margin-top: 28px;
  }
  #u2144 {
    width: 281px;
    padding-bottom: 0px;
    margin-left: 30px;
    margin-top: 28px;
  }
  #u2150 {
    width: 281px;
    padding-bottom: 0px;
    margin-left: 30px;
    margin-top: 25px;
  }
  #u3133 {
    min-height: 222.64047619047597px;
    padding-bottom: 0px;
  }
  #u3133_align_to_page {
    width: 960px;
    left: -100px;
    padding-top: 13px;
    padding-bottom: 14px;
  }
  #u2156 {
    width: 281px;
    padding-bottom: 0px;
    left: 130px;
  }
  #u2162 {
    width: 281px;
    left: 130px;
    margin-top: 25px;
  }
  #u3133-bw {
    min-height: 222.64047619047597px;
    margin-top: 8px;
  }
  #u3115 {
    min-height: 225.6071428571429px;
    padding-bottom: 0px;
  }
  #u3115_align_to_page {
    width: 960px;
    left: -100px;
    padding-top: 16px;
    padding-bottom: 17px;
  }
  #u2168 {
    width: 281px;
    padding-bottom: 0px;
    left: 130px;
  }
  #pu1787-4,
  #u2126 {
    margin-top: 8px;
  }
  #u2174 {
    width: 281px;
    padding-bottom: 0px;
    left: 130px;
    margin-top: 25px;
  }
  #u3115-bw {
    min-height: 225.6071428571429px;
  }
  #u2186 {
    width: 281px;
    padding-bottom: 0px;
    margin-left: 30px;
    margin-top: 7px;
  }
  #u2192 {
    width: 281px;
    margin-left: 30px;
    margin-top: 26px;
  }
  #u2288-4 {
    min-height: 62px;
  }
  #u2288-4-bw {
    min-height: 62px;
    margin-top: 25px;
  }
  #u2666_align_to_page {
    width: 960px;
    left: -100px;
    padding-top: 33px;
    padding-bottom: 29px;
  }
  #u2348 {
    width: 281px;
    left: 130px;
  }
  #u2492-4 {
    left: 130px;
    margin-top: 30px;
  }
  #u2516-4 {
    left: 130px;
    margin-top: 29px;
  }
  #u2540-7 {
    min-height: 150px;
    left: 130px;
    margin-top: 30px;
  }
  #u2444,
  #u2609 {
    width: 281px;
    left: 130px;
    margin-top: 30px;
  }
  #pu1789-4,
  #pu1791-4,
  #pu1793-4,
  #u2120,
  #u2132,
  #u2138,
  #u2350,
  #u2445,
  #u2610 {
    margin-top: 11px;
  }
  #u1787-4,
  #u1789-4,
  #u1791-4,
  #u1793-4,
  #u2009-4,
  #u2048-4,
  #u2075-4,
  #u2102-4,
  #u2352-4,
  #u2446-4,
  #u2612-4 {
    width: 141px;
  }
  #u1788-4,
  #u1790-4,
  #u1792-4,
  #u1794-4,
  #u2030-4,
  #u2057-4,
  #u2084-4,
  #u2111-4,
  #u2351-4,
  #u2447-4,
  #u2611-4 {
    width: 141px;
    left: 141px;
  }
  #u2657-4 {
    min-height: 57px;
    left: 130px;
    margin-top: 30px;
  }
  #u2684-4 {
    left: 130px;
    margin-top: 57px;
  }
  #u2708-4 {
    left: 130px;
    margin-top: 52px;
  }
  #u2764 {
    width: 289px;
    left: 130px;
    margin-top: 51px;
  }
  #u2732-4 {
    width: 281px;
    min-height: 94px;
  }
  #u2748 {
    width: 32px;
    margin-top: 54px;
    left: 128px;
  }
  #u2666,
  #u2666-bw {
    min-height: 1222px;
  }
  .css_verticalspacer .verticalspacer {
    height: calc(100vh - 2424px);
  }
}
