.version.master {
  color: #000001;
  background-color: #9EAF48;
}

#page {
  background-image: none;
  margin-right: auto;
  background-color: transparent;
  z-index: 1;
  border-color: #000000;
  border-width: 0px;
  margin-left: auto;
}

#u1635 {
  position: relative;
  z-index: 42;
  background-color: transparent;
}

#u1636 {
  display: block;
  z-index: 43;
}

#u1634-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 35px;
  font-size: 30px;
  line-height: 36px;
  background-color: transparent;
  z-index: 38;
}

#u1634-2 {
  padding-top: 8px;
}

#u1637-4 {
  color: #FFFFFF;
  width: 281px;
  min-height: 17px;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;
  z-index: 44;
}

#pu1625-4 {
  width: 0.01px;
  z-index: 2;
}

#u1625-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 2;
  border-color: #000000;
}

#u1626-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 6;
  border-color: #000000;
}

#u1638-4 {
  z-index: 48;
  color: #FFFFFF;
  width: 281px;
  position: relative;
  font-weight: bold;
  min-height: 17px;
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;
}

#pu1627-4 {
  width: 0.01px;
  z-index: 10;
}

#u1627-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 10;
  border-color: #000000;
}

#u1628-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 14;
  border-color: #000000;
}

#u1639-4 {
  color: #FFFFFF;
  width: 281px;
  min-height: 17px;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;
  z-index: 52;
}

#pu1629-4 {
  width: 0.01px;
  z-index: 18;
}

#u1629-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 18;
  border-color: #000000;
}

#u1630-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 22;
  border-color: #000000;
}

#u1640-4 {
  color: #FFFFFF;
  width: 281px;
  min-height: 17px;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  background-color: transparent;
  z-index: 56;
}

#pu1631-4 {
  z-index: 26;
  width: 0.01px;
  margin-left: 2px;
}

#u1631-4 {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  margin-right: -10000px;
  line-height: 29px;
  background-color: #000000;
  z-index: 26;
  border-color: #000000;
}

#u1632-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: normal;
  min-height: 57px;
  font-size: 22px;
  margin-right: -10000px;
  line-height: 26px;
  background-color: #FFFFFF;
  z-index: 30;
  border-color: #000000;
}

#u1633-4 {
  color: #000000;
  text-align: center;
  position: relative;
  font-weight: bold;
  min-height: 57px;
  font-size: 24px;
  line-height: 29px;
  background-color: #29ABE2;
  z-index: 34;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
  width: 281px;
  border-width: 2px;
}

#u1625-2,
#u1626-2,
#u1627-2,
#u1628-2,
#u1629-2,
#u1630-2,
#u1631-2,
#u1632-2,
#u1633-2 {
  padding-top: 14px;
}

.html {
  background-color: #FF0000;
}

body {
  position: relative;
}

@media (min-width: 100px),
print {
  #muse_css_mq {
    background-color: #FFFFFF;
  }
  #bp_infinity.active {
    display: block;
  }
  #page {
    width: 285px;
    min-height: 638px;
    padding: 24px 337px 20px 338px;
  }
  #u1635 {
    width: 75px;
    margin-left: 104px;
  }
  #u1634-4 {
    width: 281px;
    margin-left: 2px;
    margin-top: 21px;
  }
  #u1637-4 {
    margin-left: 2px;
    margin-top: 29px;
  }
  #pu1625-4 {
    margin-left: 2px;
    margin-top: 8px;
  }
  #u1638-4,
  #pu1627-4,
  #u1639-4,
  #pu1629-4,
  #u1640-4 {
    margin-left: 2px;
    margin-top: 11px;
  }
  #pu1631-4 {
    margin-top: 11px;
  }
  #u1625-4,
  #u1627-4,
  #u1629-4,
  #u1631-4 {
    width: 141px;
  }
  #u1626-4,
  #u1628-4,
  #u1630-4,
  #u1632-4 {
    width: 141px;
    left: 141px;
  }
  #u1633-4 {
    left: -1px;
    margin-top: 38px;
  }
  .css_verticalspacer .verticalspacer {
    height: calc(100vh - 682px);
  }
}
