html {
  min-height: 100%;
  min-width: 100%;
  -ms-text-size-adjust: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
a {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: transparent;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  background-repeat: no-repeat;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

.colelem {
  display: inline;
  float: left;
  clear: both;
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus,
input:focus,
textarea:focus {
  outline: none;
}

.grpelem {
  display: inline;
  float: left;
}

.verticalspacer {
  clear: both;
}
